<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
  <link th:href="@{/images/search-rel.png}" rel="icon">
</head>

<body>
<header>
  <nav id="top">
    <ul class="nav-flex-container">
      <li class="active_page"><a href="/home">Home</a></li>
      <li><a href="/choose">Submit Item</a></li>
      <li><a href="/dash">Dash Analytics</a></li>
      <!-- condition ? valueIfTrue : ValueIfFalse -->
      <!-- @ModelAttribute("hasUnreadAlerts") from `GlobalAlertDevice` :) -->
      <li th:classappend="${hasUnreadAlerts} ? ' ugotmail' : ''"><a href="/alerts">Alerts</a></li>
    </ul>
  </nav>
</header>

<main>
  <div class="photo-container">

    <!-- From `PageController.java`:
    @GetMapping("/home") ...
    ... modelMap.addAttribute("allitems", itemService.getAllItems());

    @{...} is for the dynamic URLs.

    {id} is for the placeholder.

    (id=${item.itemid}) is substitution. Meaning that it takes `itemid`
    and put it inside the placeholder {id}!
    -->

    <a th:each="item : ${allitems}" th:href="@{/item/{id}(id=${item.itemid})}">
      <img th:src="@{/item/image/{id}(id=${item.itemid})}" alt="" style="width:100%">
    </a>
  </div>
</main>

<footer class="footer">
  <p>Konstantinos Giasemis, 2026.</p>
</footer>
</body>

</html>